In [1]:
import pandas as pd

data = pd.read_csv("netfilix.csv")
df = pd.DataFrame(data)
result = df

print(result)

     show_id     type                                    title  \
0         s1  TV Show                                       3%
1         s2    Movie                                     7:19
2         s3    Movie                                    23:59
3         s4    Movie                                        9
4         s5    Movie                                       21
...      ...      ...                                      ...
7782   s7783    Movie                                     Zozo
7783   s7784    Movie                                   Zubaan
7784   s7785    Movie                        Zulu Man in Japan
7785   s7786  TV Show                    Zumbo's Just Desserts
7786   s7787    Movie  ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS

               director                                               cast  \
0                   NaN  João Miguel, Bianca Comparato, Michel Gomes, R...
1     Jorge Michel Grau  Demián Bichir, Héctor Bonilla, Oscar Serrano, ...
2          Gilbert Chan  Tedd Chan, Stella Chung, Henley Hii, Lawrence ...
3           Shane Acker  Elijah Wood, John C. Reilly, Jennifer Connelly...
4        Robert Luketic  Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...
...                 ...                                                ...
7782        Josef Fares  Imad Creidi, Antoinette Turk, Elias Gergi, Car...
7783        Mozez Singh  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...
7784                NaN                                            Nasty C
7785                NaN                         Adriano Zumbo, Rachel Khoo
7786           Sam Dunn                                                NaN

                                                country          date_added  \
0                                                Brazil     August 14, 2020
1                                                Mexico   December 23, 2016
2                                             Singapore   December 20, 2018
3                                         United States   November 16, 2017
4                                         United States     January 1, 2020
...                                                 ...                 ...
7782  Sweden, Czech Republic, United Kingdom, Denmar...    October 19, 2020
7783                                              India       March 2, 2019
7784                                                NaN  September 25, 2020
7785                                          Australia    October 31, 2020
7786              United Kingdom, Canada, United States       March 1, 2020

      release_year rating   duration  \
0             2020  TV-MA  4 Seasons
1             2016  TV-MA     93 min
2             2011      R     78 min
3             2009  PG-13     80 min
4             2008  PG-13    123 min
...            ...    ...        ...
7782          2005  TV-MA     99 min
7783          2015  TV-14    111 min
7784          2019  TV-MA     44 min
7785          2019  TV-PG   1 Season
7786          2019  TV-MA     90 min

                                              listed_in  \
0     International TV Shows, TV Dramas, TV Sci-Fi &...
1                          Dramas, International Movies
2                   Horror Movies, International Movies
3     Action & Adventure, Independent Movies, Sci-Fi...
4                                                Dramas
...                                                 ...
7782                       Dramas, International Movies
7783     Dramas, International Movies, Music & Musicals
7784  Documentaries, International Movies, Music & M...
7785                 International TV Shows, Reality TV
7786                    Documentaries, Music & Musicals

                                            description
0     In a future where the elite inhabit an island ...
1     After a devastating earthquake hits Mexico Cit...
2     When an army recruit is found dead, his fellow...
3     In a postapocalyptic world, rag-doll robots hi...
4     A brilliant group of students become card-coun...
...                                                 ...
7782  When Lebanon's Civil War deprives Zozo of his ...
7783  A scrappy but poor boy worms his way into a ty...
7784  In this documentary, South African rapper Nast...
7785  Dessert wizard Adriano Zumbo looks for the nex...
7786  This documentary delves into the mystique behi...

[7787 rows x 12 columns]

In [2]:
result=df.info()
print()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

In [7]:
result=df.tail()
print(result)

     show_id     type                                    title     director  \
7782   s7783    Movie                                     Zozo  Josef Fares
7783   s7784    Movie                                   Zubaan  Mozez Singh
7784   s7785    Movie                        Zulu Man in Japan          NaN
7785   s7786  TV Show                    Zumbo's Just Desserts          NaN
7786   s7787    Movie  ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS     Sam Dunn

                                                   cast  \
7782  Imad Creidi, Antoinette Turk, Elias Gergi, Car...
7783  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...
7784                                            Nasty C
7785                         Adriano Zumbo, Rachel Khoo
7786                                                NaN

                                                country          date_added  \
7782  Sweden, Czech Republic, United Kingdom, Denmar...    October 19, 2020
7783                                              India       March 2, 2019
7784                                                NaN  September 25, 2020
7785                                          Australia    October 31, 2020
7786              United Kingdom, Canada, United States       March 1, 2020

      release_year rating  duration  \
7782          2005  TV-MA    99 min
7783          2015  TV-14   111 min
7784          2019  TV-MA    44 min
7785          2019  TV-PG  1 Season
7786          2019  TV-MA    90 min

                                              listed_in  \
7782                       Dramas, International Movies
7783     Dramas, International Movies, Music & Musicals
7784  Documentaries, International Movies, Music & M...
7785                 International TV Shows, Reality TV
7786                    Documentaries, Music & Musicals

                                            description
7782  When Lebanon's Civil War deprives Zozo of his ...
7783  A scrappy but poor boy worms his way into a ty...
7784  In this documentary, South African rapper Nast...
7785  Dessert wizard Adriano Zumbo looks for the nex...
7786  This documentary delves into the mystique behi...

In [8]:
result=df.head(4)
print(result)

  show_id     type  title           director  \
0      s1  TV Show     3%                NaN
1      s2    Movie   7:19  Jorge Michel Grau
2      s3    Movie  23:59       Gilbert Chan
3      s4    Movie      9        Shane Acker

                                                cast        country  \
0  João Miguel, Bianca Comparato, Michel Gomes, R...         Brazil
1  Demián Bichir, Héctor Bonilla, Oscar Serrano, ...         Mexico
2  Tedd Chan, Stella Chung, Henley Hii, Lawrence ...      Singapore
3  Elijah Wood, John C. Reilly, Jennifer Connelly...  United States

          date_added  release_year rating   duration  \
0    August 14, 2020          2020  TV-MA  4 Seasons
1  December 23, 2016          2016  TV-MA     93 min
2  December 20, 2018          2011      R     78 min
3  November 16, 2017          2009  PG-13     80 min

                                           listed_in  \
0  International TV Shows, TV Dramas, TV Sci-Fi &...
1                       Dramas, International Movies
2                Horror Movies, International Movies
3  Action & Adventure, Independent Movies, Sci-Fi...

                                         description
0  In a future where the elite inhabit an island ...
1  After a devastating earthquake hits Mexico Cit...
2  When an army recruit is found dead, his fellow...
3  In a postapocalyptic world, rag-doll robots hi...

In [10]:
result=df["title"].head()  #il 4 tane filmin ismi 
print(result)

0       3%
1     7:19
2    23:59
3        9
4       21
Name: title, dtype: object

result=df[5:][["title","director"]].head()
print(result)

In [15]:
result=df[["title","director"]].head(8)
print(result)

   title           director
0     3%                NaN
1   7:19  Jorge Michel Grau
2  23:59       Gilbert Chan
3      9        Shane Acker
4     21     Robert Luketic
5     46        Serdar Akar
6    122    Yasir Al Yasiri
7    187     Kevin Reynolds

In [25]:
result2 =df[df["show_id"] > 's50']
print(result2)

     show_id     type                                    title  \
5         s6  TV Show                                       46
6         s7    Movie                                      122
7         s8    Movie                                      187
8         s9    Movie                                      706
50       s51    Movie                              10,000 B.C.
...      ...      ...                                      ...
7782   s7783    Movie                                     Zozo
7783   s7784    Movie                                   Zubaan
7784   s7785    Movie                        Zulu Man in Japan
7785   s7786  TV Show                    Zumbo's Just Desserts
7786   s7787    Movie  ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS

             director                                               cast  \
5         Serdar Akar  Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...
6     Yasir Al Yasiri  Amina Khalil, Ahmed Dawood, Tarek Lotfy, Ahmed...
7      Kevin Reynolds  Samuel L. Jackson, John Heard, Kelly Rowan, Cl...
8       Shravan Kumar  Divya Dutta, Atul Kulkarni, Mohan Agashe, Anup...
50    Roland Emmerich  Steven Strait, Camilla Belle, Cliff Curtis, Jo...
...               ...                                                ...
7782      Josef Fares  Imad Creidi, Antoinette Turk, Elias Gergi, Car...
7783      Mozez Singh  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...
7784              NaN                                            Nasty C
7785              NaN                         Adriano Zumbo, Rachel Khoo
7786         Sam Dunn                                                NaN

                                                country          date_added  \
5                                                Turkey        July 1, 2017
6                                                 Egypt        June 1, 2020
7                                         United States    November 1, 2019
8                                                 India       April 1, 2019
50                          United States, South Africa        June 1, 2019
...                                                 ...                 ...
7782  Sweden, Czech Republic, United Kingdom, Denmar...    October 19, 2020
7783                                              India       March 2, 2019
7784                                                NaN  September 25, 2020
7785                                          Australia    October 31, 2020
7786              United Kingdom, Canada, United States       March 1, 2020

      release_year rating  duration  \
5             2016  TV-MA  1 Season
6             2019  TV-MA    95 min
7             1997      R   119 min
8             2019  TV-14   118 min
50            2008  PG-13   109 min
...            ...    ...       ...
7782          2005  TV-MA    99 min
7783          2015  TV-14   111 min
7784          2019  TV-MA    44 min
7785          2019  TV-PG  1 Season
7786          2019  TV-MA    90 min

                                              listed_in  \
5       International TV Shows, TV Dramas, TV Mysteries
6                   Horror Movies, International Movies
7                                                Dramas
8                   Horror Movies, International Movies
50                                   Action & Adventure
...                                                 ...
7782                       Dramas, International Movies
7783     Dramas, International Movies, Music & Musicals
7784  Documentaries, International Movies, Music & M...
7785                 International TV Shows, Reality TV
7786                    Documentaries, Music & Musicals

                                            description
5     A genetics professor experiments with a treatm...
6     After an awful accident, a couple admitted to ...
7     After one of his high school students attacks ...
8     When a doctor goes missing, his psychiatrist w...
50    Fierce mammoth hunter D'Leh sets out on an imp...
...                                                 ...
7782  When Lebanon's Civil War deprives Zozo of his ...
7783  A scrappy but poor boy worms his way into a ty...
7784  In this documentary, South African rapper Nast...
7785  Dessert wizard Adriano Zumbo looks for the nex...
7786  This documentary delves into the mystique behi...

[3341 rows x 12 columns]

In [26]:
result = df.columns
print(result)

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')